* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}
.modal-custom .content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-custom .content-container .button-group {
  display: flex;
  justify-content: center;
}

.modal-custom .bold {
  font-weight: bold;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.btn-primary {
  background-color: #45b39d;
  border: none;
  box-shadow: none;
}

.btn-primary:hover {
  border: none;
  box-shadow: none;
}

.btn-red {
  background-color: #e74c3c;
  border: none;
  box-shadow: none;
}

.btn-red:hover {
  border: none;
  box-shadow: none;
}

.color-white {
  color: #fff;
}

.w-100 {
  width: 100%;
}

.pt-0 {
  padding-top: 0 !important;
}

.p-4 {
  padding: 40px;
}

.h-4 {
  height: 40px;
}

.click-icon {
  cursor: pointer;
  padding-left: 10px;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ant-notification-notice-error {
  background-color: #ffffff !important;
  color: #fff;
}


.ant-notification-notice-success {
  background-color: #ffffff !important;
  color: #fff;
}
/* 
.ant-notification-notice-error .anticon svg {
  color: #ff0000;
} */

.modal-custom .row span {
  display: inline-block;
}

.modal-custom .row span:last-child {
  padding-left: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logout-modal .ant-modal-header .ant-modal-title {
  text-align: center;
}